#header{
Color: green;
font-family: Arial, Helvetica, sans-serif;
}
.inputs{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 20px;
}
.navbar{
    position: fixed;
    top: 16px;
    width: 99%;
    min-width: 980px;
    z-index: 103;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.footer{
    position: fixed;
    bottom: 16px;
    width: 99%;
    min-width: 980px;
    z-index: 103;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}